body {
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
      color: #fff;
      background: #000;
    }

    .container {
      background: #1B1A1A;
      width: 1000px;
      margin: auto;
      color: #000;
    }

    img {
      width: 200px;
      height: 200px;
    }

    .fotos {
      margin: 15px;
      float: left;
      background: #C1BDBD;
      padding: 10px;

    }

    .clear {
      clear: both;
    }

    .fotos:hover {
      background: #000000;
      color: #fff;
    }

    footer {
      background: #000;
      color: #fff;
      padding: 20px;
      margin-top: 20px;
    }

    a {
      text-decoration: none;
      color: #fff;
    }